NEXT_PUBLIC_SUPABASE_URL=https://ersdwqwanookxbwnkghe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=mk31012001@gmail.com
NEXT_PUBLIC_SITE_URL=https://vibecode-studio-pink.vercel.app
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NEXT_PUBLIC_TELEGRAM_USERNAME=your_telegram_username
