NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_u4e3CV4fXaozyu6J7dZy6w_W8eS0DMQ
SUPABASE_SERVICE_ROLE_KEY=sb_secret_BCCoi1REk_T2jfvmfrgMkQ_tiOa6XJC
ADMIN_EMAIL=mk31012001@gmail.com
NEXT_PUBLIC_SITE_URL=https://vibecode-studio-pink.vercel.app
TELEGRAM_BOT_TOKEN=8828690454:AAEbZ5H49ZiUUnexVJyVP27K5vmpC_8guNM
TELEGRAM_CHAT_ID=
