NEXT_PUBLIC_SUPABASE_URL=https://ersdwqwanookxbwnkghe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyc2R3cXdhbm9va3hid25rZ2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3OTAzNTUsImV4cCI6MjA5NTM2NjM1NX0.Y8ro5VY9ZWX9_jwF-L79CPAv8B0Jk5cHUmIHU0pE0wE
SUPABASE_SERVICE_ROLE_KEY=sb_secret_BCCoi1REk_T2jfvmfrgMkQ_tiOa6XJC
ADMIN_EMAIL=mk31012001@gmail.com
NEXT_PUBLIC_SITE_URL=https://vibecode-studio-pink.vercel.app
TELEGRAM_BOT_TOKEN=8828690454:AAEbZ5H49ZiUUnexVJyVP27K5vmpC_8guNM
TELEGRAM_CHAT_ID=
